#highscore-list {
    display: block;
    background-color: rgba(102, 155, 188, .3);
    border-radius: 4px;
    text-align: left;
    margin: 1rem;
    padding-inline: 1rem;
}

#button {  
    display: block;
    max-width: 20rem;
    margin: 1rem auto;
    transition: all ease-in-out .25s;    
}

#button:hover {
    transform: scale(1.1);
}

.go-back {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid var(--medium);
    border-radius: 4px;
    padding: 5px 10px;
    background-color: var(--medium);
    color: var(--black);
}

.clear-highscores {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid var(--medium-light);
    border-radius: 4px;
    padding: 5px 10px;
    background-color: var(--medium-light);
    color: var(--black);
}


@media screen and (min-width: 768px) {
    .inline-flex {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .inline-flex #button {
        min-width: 20rem;
    }
}